# Ignore contents of redcap_source (populated at runtime), but track the folder
redcap_source/*
!redcap_source/README.txt

# macOS
.DS_Store

# IDE
.vscode/

# Temp files
tmp/

# REDCap Cypress
redcap_cypress/

# Audit reports
redcap_docker/Audit_Analysis_Reports/
